* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
}


/* UTILITIES */

.background {
    background: #0d1137;
    background-size: cover;
    background-blend-mode: darken;
}


/* HEADER  */

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.navbar ul li {
    list-style: none;
    float: left;
}

.navbar ul li a {
    text-decoration: none;
    color: #da2267;
    font-size: 17px;
    margin: 10px;
    letter-spacing: 1.5px;
    transition: 0.5s all ease;
}

.navbar ul li a:hover {
    letter-spacing: 3px;
    border-bottom: 1px solid #da2267;
}


/* LOGIN & SIGN UP  */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 675px;
    padding: 20px;
}

#left-part {
    font-size: 40px;
    height: auto;
    color: #da2267;
    padding-left: 140px;
    flex-direction: column;
}

#left-part h1 {
    font-size: 80px;
}

#left-part h2 {
    letter-spacing: 10px;
    font-size: 45px;
}

.right-part {
    flex-direction: column;
    font-size: 40px;
}

.right-part input {
    padding: 10px;
    margin: 10px;
    background-color: #da2267;
    border: #da2267;
    width: 250px;
    border-radius: 5px;
    outline: none;
    font-weight: 900;
}

::placeholder {
    color: #0d1137;
    font-style: bold;
}

.right-part button {
    padding: 5px;
    flex-direction: row;
    background-color: #da2267;
    border: #da2267;
    margin: 5px;
    color: #0d1137;
    width: 250px;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.8s all ease;
}

.right-part button:hover {
    letter-spacing: 3px;
}

.right-part h3 {
    color: #da2267;
    font-weight: 400;
    padding: 20px;
}


/* FOOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #da2267;
    bottom: 0%;
    color: #0d1137;
}